@import url(root.css);

body {
  background-color: var(--branco);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bege-escuro);
  padding: 1rem 2rem;
  color: var(--branco);
}

.logo {
  color: var(--branco);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  cursor: pointer;
  color: var(--branco);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--bege-claro);
}

.logout-btn {
  background-color: var(--marrom-claro);
  color: var(--branco);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: var(--fonte-principal);
}

.logout-btn:hover {
  background-color: var(--marrom-escuro);
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--branco);
  margin: 15% auto;
  padding: 20px;
  width: 400px;
  text-align: center;
  color: var(--marrom-escuro);
  font-size: 2em;
}

#comentariosModal .modal-content,
#denunciasUsuarioModal .modal-content,
#denunciasNoticiaModal .modal-content,
#denunciasComentarioModal .modal-content,
#noticiaModal .modal-content {
  width: 950px;
  padding: 20px 30px;
  margin: 7% auto;
}

#logout-btn {
  padding: 6px 16px;
}

#comentariosModal .modal-content p,
#adicionarComentarioModal .modal-content p,
#editarComentarioModal .modal-content p,
#denunciarNoticiaModal .modal-content p,
#denunciarComentarioModal .modal-content p,
#denunciarUsuarioModal .modal-content p,
#seguidoresModal .modal-content p,
#seguindoModal .modal-content p,
#denunciasUsuarioModal .modal-content p,
#denunciasNoticiaModal .modal-content p,
#denunciasComentarioModal .modal-content p,
#noticiaModal .modal-content p {
  text-align: left;
}

#cadastroLoginModal {
  z-index: 4;
}
.modal-content button:not(.curtir-btn, .denunciar-btn, .aprovar-denuncia-usuario-btn, .ignorar-denuncia-usuario-btn, .aprovar-denuncia-noticia-btn, .ignorar-denuncia-noticia-btn, .aprovar-denuncia-comentario-btn, .ignorar-denuncia-comentario-btn, .exibir-denuncias-btn, .apagar-comentario-btn, .exibir-comentarios-btn, .ativar-noticia-btn, .desativar-noticia-btn),
#cadastroLoginModal .modal-content a {
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: var(--fonte-principal);
  color: var(--preto);
  background-color: var(--marrom-claro);
}

#cadastroLoginModal .modal-content a {
  color: var(--branco);
  text-decoration: none;
}

#adicionarComentarioModal .modal-content,
#editarComentarioModal .modal-content,
#denunciarNoticiaModal .modal-content,
#denunciarComentarioModal .modal-content,
#denunciarUsuarioModal .modal-content,
#seguidoresModal .modal-content,
#seguindoModal .modal-content,
#cadastroLoginModal .modal-content {
  width: 800px;
  padding: 20px 30px;
  margin: 10% auto;
}

#desativarUsuarioModal .modal-content,
#ativarUsuarioModal .modal-content,
#desativarNoticiaModal .modal-content,
#ativarNoticiaModal .modal-content,
#excluirComentarioModal .modal-content {
  width: 550px;
}

#desativarUsuarioModal .modal-content p,
#ativarUsuarioModal .modal-content p,
#desativarNoticiaModal .modal-content p,
#ativarNoticiaModal .modal-content p,
#excluirComentarioModal .modal-content p {
  width: 90%;
  padding: 0;
  margin: 30px auto 10px auto;
  font-weight: bold;
}

#desativarUsuarioModal .modal-content button,
#ativarUsuarioModal .modal-content button,
#desativarNoticiaModal .modal-content button,
#ativarNoticiaModal .modal-content button,
#excluirNoticiaModal .modal-content button {
  margin-bottom: 30px;
}

#comentariosModal .modal-content button:not(.curtir-btn, .denunciar-btn, .exibir-denuncias-btn, .apagar-comentario-btn, .exibir-comentarios-btn, .ativar-noticia-btn, .desativar-noticia-btn),
#adicionarComentarioModal .modal-content button,
#editarComentarioModal .modal-content button,
#denunciarNoticiaModal .modal-content button,
#denunciarComentarioModal .modal-content button,
#denunciarUsuarioModal .modal-content button {
  width: 100%;
  margin: 10px 0;
  color: var(--branco);
}

#editarComentarioModal .modal-content button#confirmarEditarComentario {
  margin-bottom: 6px;
}

#editarComentarioModal .modal-content button#confirmarExcluirComentario {
  margin-top: 0;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
  font-family: inherit;
}

.listaCategoriaDenuncia {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
  font-family: inherit;
}

textarea::placeholder,
select::placeholder {
  color: #888;
}

#comentariosModal .modal-content #listaComentarios,
#seguidoresModal .modal-content #listaSeguidores,
#seguindoModal .modal-content #listaSeguindo,
#denunciasUsuarioModal .modal-content #listaDenunciasUsuario,
#denunciasNoticiaModal .modal-content #listaDenunciasNoticia,
#denunciasComentarioModal .modal-content #listaDenunciasComentario,
#noticiaModal .modal-content #listaNoticia {
  color: var(--preto);
  font-size: 17px;
}

#seguidoresModal .modal-content #listaSeguidores,
#seguindoModal .modal-content #listaSeguindo,
#noticiaModal .modal-content #listaNoticia {
  margin-top: 10px;
}

.modal-content button:hover:not(.curtir-btn, .denunciar-btn, .aprovar-denuncia-usuario-btn, .ignorar-denuncia-usuario-btn, .exibir-denuncias-btn, .apagar-comentario-btn, .aprovar-denuncia-noticia-btn, .ignorar-denuncia-noticia-btn, .aprovar-denuncia-comentario-btn, .ignorar-denuncia-comentario-btn),
#cadastroLoginModal .modal-content a:hover {
  background-color: var(--marrom-escuro);
}

#confirmarExcluirComentario:not(#excluirComentarioModal #confirmarExcluirComentario) {
  background-color: rgb(23, 15, 7);
}

#confirmarExcluirComentario:not(#excluirComentarioModal #confirmarExcluirComentario):hover {
  background-color: rgb(12, 8, 4);
}

.barraDePesquisa {
  width: 32%;
  padding: 10px 20px;
  font-size: 17px;
  color: var(--branco);
  border: 0;
  border-radius: 3px;
  background-color: var(--marrom-claro);
}

.barraDePesquisa::placeholder {
  color: var(--branco);
}

.usuario {
  display: flex;
  align-items: center;
}

.usuario:not(:last-child) {
  margin-bottom: 0.60em;
}

#listaSeguidores.active,
#listaSeguindo.active {
  padding: 1.2em;
  border: 1px solid var(--bege);
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.usuario a {
  color: #6b4e36;
  margin-top: -4px;
}

.usuario img {
  width: 54px;
  height: 52px;
  margin-right: 14px;
  border: 2px solid var(--branco);
  border-radius: 50%;
}

#seguidoresModal .seguir-btn,
#seguindoModal .seguir-btn {
  padding: 10px 20px;
  color: var(--branco);
  font-size: 16px;
  cursor: pointer;
  font-family: var(--fonte-decoracao);
  font-weight: 700;
  text-decoration: none;
  margin-left: auto;
  border: none;
  border-radius: 100px;
  background-color: var(--marrom-escuro);
}

#seguidoresModal .seguir-btn:hover,
#seguindoModal .seguir-btn:hover {
  text-decoration: underline;
}

#seguidoresModal .seguir-btn.active,
#seguindoModal .seguir-btn.active {
  background-color: var(--preto);
}

#seguidoresModal .seguir-btn:hover,
#seguindoModal .seguir-btn:hover {
  background-color: #6b4e36;
}

#cadastroLoginModal .modal-content {
  padding: 60px;
}

#cadastroLoginModal .modal-content p {
  margin-bottom: 20px;
}

/* Esconde o botão de menu em telas grandes */
.menu-toggle {
  display: none;
  color: var(--branco);
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar .barraDePesquisa {
  width: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.sidebar li {
  padding: 15px 0;
}

.sidebar a {
  font-size: 1rem;
}

.sidebar a,
.sidebar button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

/* Sidebar à direita */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: -65%;
  width: 65%;
  height: 100%;
  background-color: var(--marrom-escuro);
  color: white;
  transition: right 0.3s ease;
  padding: 90px 20px 0 20px;
  z-index: 2;
}

/* Fundo escuro (overlay) */
#sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Botão de fechar dentro da sidebar */
.close-sidebar {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 1000px) {
  .modal-content,
  #adicionarComentarioModal .modal-content, #editarComentarioModal .modal-content, #denunciarNoticiaModal .modal-content, #denunciarComentarioModal .modal-content, #denunciarUsuarioModal .modal-content, #seguidoresModal .modal-content, #seguindoModal .modal-content, #cadastroLoginModal .modal-content,
  #comentariosModal .modal-content, #denunciasUsuarioModal .modal-content, #denunciasNoticiaModal .modal-content, #denunciasComentarioModal .modal-content, #noticiaModal .modal-content {
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media (max-width: 768px) {
  .navbar .barraDePesquisa {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}

@media (max-width: 610px) {
  .denuncia-usuario header, .denuncia-usuario header .lado-esquerdo, .denuncia-noticia header, .denuncia-noticia header .lado-esquerdo, .denuncia-comentario header, .denuncia-comentario header .lado-esquerdo {
    display: flex;
    flex-direction: column;
  }

  .denuncia-usuario img, .denuncia-noticia img, .denuncia-comentario img {
    text-align: center;
    margin: 0 auto !important;
  }

  .denuncia-usuario header .lado-direito, .denuncia-noticia header .lado-direito, .denuncia-comentario header .lado-direito, .aprovar-denuncia-usuario-btn, .ignorar-denuncia-usuario-btn, .aprovar-denuncia-noticia-btn, .ignorar-denuncia-noticia-btn, .aprovar-denuncia-comentario-btn, .ignorar-denuncia-comentario-btn {
    width: 100%;
  }

  .aprovar-denuncia-usuario-btn, .aprovar-denuncia-noticia-btn, .aprovar-denuncia-comentario-btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .usuario {
    flex-direction: column;
  }

  .usuario img {
    margin-bottom: 12px;
    margin-right: 0 !important;
  }

  .usuario a {
    margin-bottom: 12px;
  }

  .usuario .seguir-btn {
    width: 100%;
  }
}