@import url(root.css);

body {
  background-color: var(--branco);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bege-escuro);
  padding: 1rem 2rem;
  color: var(--branco);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: var(--branco);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--bege-claro);
}

.logout-btn {
  background-color: var(--marrom-claro);
  color: var(--branco);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: var(--fonte-principal);
}

.logout-btn:hover {
  background-color: var(--marrom-escuro);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--branco);
  margin: 15% auto;
  padding: 20px;
  width: 400px;
  text-align: center;
  color: var(--marrom-escuro);
  font-size: 2em;
}

#comentariosModal .modal-content {
  width: 950px;
  padding: 20px 30px;
  margin: 7% auto;
}

#comentariosModal .modal-content p,
#adicionarComentarioModal .modal-content p,
#editarComentarioModal .modal-content p,
#denunciarNoticiaModal .modal-content p,
#denunciarComentarioModal .modal-content p,
#denunciarUsuarioModal .modal-content p,
#seguidoresModal .modal-content p,
#seguindoModal .modal-content p {
  text-align: left;
}

.modal-content button:not(.curtir-btn, .denunciar-btn) {
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: var(--fonte-principal);
  color: (--preto);
  background-color: var(--marrom-claro);
}

#adicionarComentarioModal .modal-content,
#editarComentarioModal .modal-content,
#denunciarNoticiaModal .modal-content,
#denunciarComentarioModal .modal-content,
#denunciarUsuarioModal .modal-content,
#seguidoresModal .modal-content,
#seguindoModal .modal-content {
  width: 800px;
  padding: 20px 30px;
  margin: 10% auto;
}

#comentariosModal .modal-content button:not(.curtir-btn, .denunciar-btn),
#adicionarComentarioModal .modal-content button,
#editarComentarioModal .modal-content button,
#denunciarNoticiaModal .modal-content button,
#denunciarComentarioModal .modal-content button,
#denunciarUsuarioModal .modal-content button {
  width: 100%;
  margin: 10px 0;
  color: var(--branco);
}

#editarComentarioModal .modal-content button#confirmarEditarComentario {
  margin-bottom: 6px;
}

#editarComentarioModal .modal-content button#confirmarExcluirComentario {
  margin-top: 0;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
  font-family: inherit;
}

.listaCategoriaDenuncia {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
  font-family: inherit;
}

textarea::placeholder,
select::placeholder {
  color: #888;
}

#comentariosModal .modal-content #listaComentarios,
#seguidoresModal .modal-content #listaSeguidores,
#seguindoModal .modal-content #listaSeguindo {
  color: var(--preto);
  font-size: 17px;
}

#seguidoresModal .modal-content #listaSeguidores,
#seguindoModal .modal-content #listaSeguindo {
  margin-top: 10px;
}

.modal-content button:hover:not(.curtir-btn, .denunciar-btn) {
  background-color: var(--marrom-escuro);
}

#confirmarExcluirComentario {
  background-color: rgb(23, 15, 7);
}

#confirmarExcluirComentario:hover {
  background-color: rgb(12, 8, 4);
}

#barraDePesquisa {
  width: 30%;
  padding: 10px 20px;
  font-size: 17px;
  color: var(--branco);
  border: 0;
  border-radius: 3px;
  background-color: var(--marrom-claro);
}

#barraDePesquisa::placeholder {
  color: var(--branco);
}

.usuario {
  display: flex;
  align-items: center;
}

.usuario:not(:last-child) {
  margin-bottom: 0.60em;
}

#listaSeguidores.active,
#listaSeguindo.active {
  padding: 1.2em;
  border: 1px solid var(--bege);
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.usuario a {
  color: #6b4e36;
  margin-top: -4px;
}

.usuario img {
  width: 54px;
  height: 52px;
  margin-right: 14px;
  border: 2px solid var(--branco);
  border-radius: 50%;
}

#seguidoresModal .seguir-btn,
#seguindoModal .seguir-btn {
  padding: 10px 20px;
  color: var(--branco);
  font-size: 16px;
  cursor: pointer;
  font-family: var(--fonte-decoracao);
  font-weight: 700;
  text-decoration: none;
  margin-left: auto;
  border: none;
  border-radius: 100px;
  background-color: var(--marrom-escuro);
}

#seguidoresModal .seguir-btn:hover,
#seguindoModal .seguir-btn:hover {
  text-decoration: underline;
}

#seguidoresModal .seguir-btn.active,
#seguindoModal .seguir-btn.active {
  background-color: var(--preto);
}

#seguidoresModal .seguir-btn:hover,
#seguindoModal .seguir-btn:hover {
  background-color: #6b4e36;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  /* escondido por padrão */
  background: white;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 100;
}

.dropdown-menu li a {
  width: 100%;
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.dropdown-menu li:nth-child(1) a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-menu li:nth-child(3) a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-menu li a:hover {
  color: black;
  background: #eee;
}

.dropdown.active .dropdown-menu {
  display: block;
}