@import url(root.css);

.seguir-btn, .denunciar-perfil-btn {
  margin-top: 20px;
  padding: 10px 20px;
  color: var(--branco);
  font-size: 16px;
  cursor: pointer;
  font-family: var(--fonte-decoracao);
  font-weight: 700;
  text-decoration: none;
  border: none;
  border-radius: 100px;
}

.seguir-btn {
  background-color: var(--marrom-escuro);
}

.denunciar-perfil-btn {
  background-color: var(--vermelho-escuro);
}

.seguir-btn:hover, .denunciar-perfil-btn:hover {
  text-decoration: underline;
}

.seguir-btn.active {
  background-color: var(--preto);
}

.seguir-btn:hover {
  background-color: #6b4e36;
}

.denunciar-perfil-btn.active {
  background-color: rgb(12, 8, 4);
}

.denunciar-btn {
  display: inline-block;
  cursor: pointer;
  font-size: 0.95em;
  background-color: var(--vermelho-escuro);
  padding: 8px 16px;
  margin-top: 6px;
  margin-right: 12px;
  color: #fff;
  text-decoration: none;
  border: 0;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.denunciar-btn.active {
  background-color: rgb(12, 8, 4);
}

.denunciar-btn:hover {
  text-decoration: underline;
}

#seguidores, #seguindo {
  cursor: pointer;
}