@import url(root.css);

.seguir-btn, .denunciar-btn {
  margin-top: 20px;
  padding: 10px 20px;
  color: var(--branco);
  font-size: 16px;
  cursor: pointer;
  font-family: var(--fonte-decoracao);
  font-weight: 700;
  text-decoration: none;
  border: none;
  border-radius: 100px;
}

.seguir-btn {
  background-color: var(--marrom-escuro);
}

.denunciar-btn {
  background-color: rgb(23, 15, 7);
}

.seguir-btn:hover, .denunciar-btn:hover {
  text-decoration: underline;
}

.seguir-btn.active {
  background-color: var(--preto);
}

.denunciar-btn.active {
  background-color: rgb(12, 8, 4);
}