:root {
  --bege-claro: #e6ccb2;
  --bege: #ddb892;
  --marrom-claro: #b08968;
  --marrom-escuro: #7f5539;
  --preto: #170f07;
  --branco: #ede0d4;
  --bege-escuro: #9c6644;
  --fonte-principal: 'Young Serif', serif;
}