@import url(root.css);
 
body, html {
  height: 100%;
  background-color: var(--branco);
}
 
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--bege);
  background-image: url('../imagens/newspaper_collage_texture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.box {
  background: var(--branco);
  box-shadow: 0 4px 12px rgba(23, 15, 7, 0.1);
  padding: 2.5rem 3rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  z-index: 2;
  color: var(--preto);
}
 
.box h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--marrom-escuro);
}
 
.box p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: var(--preto);
  line-height: 1.4;
}
 
.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
 
.btn {
  flex: 1 1 120px;
  padding: 0.75rem 1.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
  font-weight: 600;
  color: var(--branco);
  text-decoration: none;
  background-color: var(--marrom-escuro);
}
 
.btn:hover {
  background-color: var(--preto);
}
.container > .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media (max-width: 375px) {
  .box {
    padding: 1.75em;
  }
}

.ver-senha {
  position: relative;
  width: 100%;
}

.ver-senha input {
  width: 100%;
  padding-right: 40px; /* espaço para o botão */
  box-sizing: border-box;
}

.ver-senha button {
  width: auto;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--marrom-escuro);
  padding: 0;
  line-height: 1;
}

.ver-senha button:hover{
    color: var(--preto);
}

#erroMensagem {
    margin-top: 10px;
    color: red;
    background-color: var(--branco);
}

input[type="password"], input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: var(--fonte-principal);
  font-weight: 700;
  background-color: #fff;
  border: none;
  color: var(--preto)
}

input[type="password"]:focus, input[type="text"]:focus{
  outline: none;
  box-shadow: none;
}

input[type="password"]::placeholder, input[type="text"]::placeholder {
  color: var(--marrom-escuro);
}

input[type="password"]:focus::placeholder, input[type="text"]:focus::placeholder {
  color: transparent;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 16px;
  background-color: var(--marrom-escuro);
  color: var(--branco);
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--fonte-principal);
  font-weight: 700;
}

button:not(#toggleSenha):hover {
    background-color: var(--preto);
}



