<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Notícia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/cadastro-e-editar-noticia.css">
</head>
<body>
    <nav class="navbar">
      <a href="/home.html" class="logo">Radar Praia Grande</a>
      <input type="text" class="barraDePesquisa" placeholder="Pesquise.." />

      <button class="menu-toggle" id="menu-toggle">☰</button>
      <ul class="nav-links">
        <li><a href="/home.html">Feed</a></li>
        <li><a href="/perfil.html">Perfil</a></li>
        <li><button id="logout-btn" class="logout-btn">Logout</button></li>
      </ul>
    </nav>

    <!-- Fundo escuro da sidebar -->
    <div id="sidebar-overlay"></div>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <button class="close-sidebar" id="close-sidebar">×</button>
      <input type="text" class="barraDePesquisa" placeholder="Pesquise.." />
      <ul>
        <li><a href="/home.html">Feed</a></li>
        <li><a href="/perfil.html">Perfil</a></li>
        <li><button id="logout-btn-mobile" class="logout-btn">Logout</button></li>
      </ul>
    </div>

    <div class="loading-container">
        <div class="loading-spinner"></div>
    </div>

    <div class="quadrado">
        <h2>Cadastro de Notícia</h2>
        <form id="cadastronoticiaForm">
            <div>
                <input type="file" id="imagens" accept=".jpg, .jpeg, .png" multiple>
                <small>
                    Sua notícia pode conter até 4 imagens.<br>
                    Escolha apenas arquivos com a extensão ".jpg", ".jpeg" ou ".png".
                </small>
            </div>

            <table class="table" id="listaImagens">
                <thead>
                    <tr>
                        <th scope="col">Imagem</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="exemploItemImagem">
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                </tbody>
            </table>

            <div>
                <select id="listaBairros">
                    <option value="" selected>Selecione um bairro</option>
                </select>
            </div>

            <div>
                <textarea id="descricao" rows="12" placeholder="Digite a descrição da notícia.." maxlength="5000"></textarea>
            </div>

            <button type="submit">Verificar notícia</button>
        </form>
    </div>

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>Tem certeza que deseja sair?</p>
            <button id="confirmYes">Sim</button>
            <button id="confirmNo">Cancelar</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/js/modal.js"></script>
    <script type="module" src="/js/sidebar.js"></script>
    <script type="module" src="/js/cadastro-noticia.js"></script>
</body>
</html>
