<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/editar-perfil.css">

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="perfil-container">
        <section class="perfil">
            <div class="perfil-info">

            <div class="elemento-edicao">
            <span id="fotoCapa-text">
                <img id="fotoCapa" alt="Foto de Capa">
            </span>
            <button class="editar-btn flutuante" id="editar-fotoCapa">Editar</button>
            </div>

            <div class="elemento-edicao">
            <span id="fotoPerfil-text">
                <img id="fotoPerfil" alt="Foto de Perfil">
            </span>
            <button class="editar-btn flutuante" id="editar-fotoPerfil">Editar</button>
            </div>

                <span id="apelido"></span>
                
                <div class="elemento-edicao">
                    <span id="biografia"></span>
                    <button class="editar-btn" id="editar-biografia">Editar</button>
                </div>
                    
                <div class="elemento-edicao">
                    <span id="email"></span>
                    <button class="editar-btn" id="editar-email">Editar</button>
                </div>

                <div class="elemento-edicao">
                    <span id="nome"></span>
                    <button class="editar-btn" id="editar-nome">Editar</button>
                </div>
                
            </div>


            <button class="editar-btn" id="salvar-btn" class="hidden">Salvar Alterações</button>
            <button class="editar-btn" id="apagar-perfil-btn">Apagar perfil</button>
            <a class="editar-btn" id="parar-editar-btn" href="perfil.html">Parar de editar</a>
        </section>
    </div>

    <script src="/js/editar-perfil.js"></script>
</body>
</html>
