<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Notícia</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cadastro-e-editar-noticia.css">
</head>
<body>
    <div class="loading-container">
        <div class="loading-spinner"></div>
    </div>

    <div class="quadrado">
        <h2>Editar Notícia</h2>
        <form id="editarNoticiaForm">
            <div>
                <input type="file" id="imagens" accept=".jpg, .jpeg, .png" multiple>
                <small>
                    Sua notícia pode conter até 4 imagens.<br>
                    Escolha apenas arquivos com a extensão ".jpg", ".jpeg" ou ".png".
                </small>
            </div>

            <table class="table" id="listaImagens">
                <thead>
                    <tr>
                        <th scope="col">Imagem</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Status</th>
                        <th scope="col">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="exemploItemImagem">
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                </tbody>
            </table>

            <div>
                <select id="listaBairros">
                </select>
            </div>

            <div>
                <textarea id="descricao" rows="12" placeholder="Digite a descrição da notícia.."></textarea>
            </div>

            <button type="submit">Verificar notícia</button>
        </form>

        <button id="apagarNoticia">Excluir notícia</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/js/editar-noticia.js"></script>
</body>
</html>