<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Página não encontrada</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/erro-404.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <h1>Ops! Página não encontrada.</h1>
        <p>
          O link pode estar quebrado ou a página pode ter sido removida.
        </p>
        <div class="buttons">
          <a href="/index.html" class="btn">Voltar a página inicial</a>
        </div>
      </div>
    </div>
  </body>
</html>
