<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Radar Praia Grande</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/inicio.css" />
  </head>
  <body>
    <div class="container">
      <div class="left-side"></div>
      <div class="right-side"></div>
 
      <div class="box">
        <h1>Radar Praia Grande</h1>
        <p>
          Fique por dentro das últimas notícias da Praia Grande. Cadastre-se ou
          faça login para acompanhar tudo de perto!
        </p>
        <div class="buttons">
          <a href="/cadastro.html" class="btn signup">Cadastro</a>
          <a href="/login.html" class="btn login">Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
