<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2>Login de Usuário</h2>
    <form id="LoginForm">
      <div>
        <input type="email" id="email" placeholder="E-mail" required />
      </div>
      <div>
        <input type="password" id="senha" placeholder="Senha" required />
      </div>
      <button type="submit">Entrar</button>
    </form>
    <button onclick="window.location.href='cadastro.html'">Ainda não possui conta? Cadastre-se!</button>

    <script src="/js/login.js"></script>
    
  </body>
</html>
