<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/perfil.css">
</head>
<body>

    <div class="perfil-container">
        <h1>Perfil</h1>

        <div class="perfil-info">
            <div>
                <strong>Apelido: </strong><span id="apelido"></span>
            </div>
            <div>
                <strong>E-mail: </strong><span id="email"></span>
            </div>
            <div>
                <strong>Nome: </strong><span id="nome"></span>
            </div>

            <div>
                <strong>Foto de Perfil: </strong><span id="fotoPerfil-text"><img id="fotoPerfil" alt="Foto de Perfil" width="50"></span>
            </div>
 
            <div>
                <strong>Foto de Capa: </strong><span id="fotoCapa-text"><img id="fotoCapa" alt="Foto de Capa" width="150"></span>
            </div>

            <div> 
                <strong> Biografia: </strong><span id="biografia"></span>
            </div>
            <button class="editar-btn" onclick="window.location.href='editar-perfil.html'">Editar Perfil</button>
        </div>
        <button id="logout-btn">Sair</button>
    </div>
 
    <script src="/js/perfil.js"></script>
</body>
</html>
