<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/perfil.css">
 
    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
      <a href="/home.html" class="logo">Radar Praia Grande</a>
      <input type="text" class="barraDePesquisa" placeholder="Pesquise.." />

      <button class="menu-toggle" id="menu-toggle">☰</button>
      <ul class="nav-links">
        <li><a href="/home.html">Feed</a></li>
        <li><a href="/perfil.html">Perfil</a></li>
        <li><button id="logout-btn" class="logout-btn">Logout</button></li>
      </ul>
    </nav>

    <!-- Fundo escuro da sidebar -->
    <div id="sidebar-overlay"></div>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <button class="close-sidebar" id="close-sidebar">×</button>
      <input type="text" class="barraDePesquisa" placeholder="Pesquise.." />
      <ul>
        <li><a href="/home.html">Feed</a></li>
        <li><a href="/perfil.html">Perfil</a></li>
        <li><button id="logout-btn-mobile" class="logout-btn">Logout</button></li>
      </ul>
    </div>
 
    <div class="perfil-container">
        <section class="perfil">
            <div class="perfil-info">
                <span id="fotoCapa-text"><img id="fotoCapa" alt="Foto de Capa"></span>
                <span id="fotoPerfil-text"><img id="fotoPerfil" alt="Foto de Perfil"></span>
                <span id="apelido"></span>
                <span id="biografia"></span>
                <span id="seguidores"><b id="quantidadeSeguidores">0</b> seguidores</span>
                <span id="seguindo"><b id="quantidadeSeguindo">0</b> seguindo</span>
            </div>
 
            <a href="/editar-perfil.html" class="editar-btn">Editar perfil</a>
        </section>
 
        <section class="noticias">
            <div class="noticias-perfil">
                <h2>Minhas notícias</h2>
                <a href="/cadastro-noticia.html" class="botao-noticia">Adicionar notícia</a>
               
                <div id="noticiasUsuario"></div>
                <div id="paginacaoNoticias"></div>
            </div>
        </section>
    </div>
 
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>Tem certeza que deseja sair?</p>
            <button id="confirmYes">Sim</button>
            <button id="confirmNo">Cancelar</button>
        </div>
    </div>

    <div id="seguidoresModal" class="modal">
        <div class="modal-content">
            <p>Seguidores</p>
            <div id="listaSeguidores"></div>
        </div>
    </div>
    
    <div id="seguindoModal" class="modal">
        <div class="modal-content">
            <p>Seguindo</p>
            <div id="listaSeguindo"></div>
        </div>
    </div>
    
    <div id="comentariosModal" class="modal">
        <div class="modal-content">
            <p>Comentários</p>
            <button id="adicionarComentario">Adicionar comentário</button>
            <div id="listaComentarios"></div>
        </div>
    </div>

    <div id="adicionarComentarioModal" class="modal">
        <div class="modal-content">
          <p>Adicionar comentário</p>
          <textarea id="descricaoComentario" placeholder="Digite um comentário.." maxlength="200"></textarea>
          <button id="confirmarComentario">Confirmar</button>
        </div>
    </div>
    
    <div id="editarComentarioModal" class="modal">
        <div class="modal-content">
          <p>Editar comentário</p>
          <textarea id="descricaoEditarComentario" placeholder="Digite um comentário.."></textarea>
          <button id="confirmarEditarComentario">Confirmar</button>
          <button id="confirmarExcluirComentario">Excluir comentário</button>
        </div>
    </div>

    <div id="denunciarComentarioModal" class="modal">
        <div class="modal-content">
          <p>Denunciar comentário</p>
          <select class="listaCategoriaDenuncia">
            <option value="" selected>Selecione uma categoria</option>
          </select>
          <textarea id="descricaoDenunciaComentario" placeholder="Digite a descrição da denúncia.."></textarea>
          <button id="confirmarDenunciaComentario">Confirmar</button>
        </div>
    </div>
 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/js/modal.js"></script>
    <script type="module" src="/js/sidebar.js"></script>
    <script type="module" src="/js/perfil.js"></script>
</body>
</html>
